@tailwind base;
@tailwind components;
@tailwind utilities;

/* disable all a href outline */
a {
    outline: none;
}

button {
    outline: none;
}

a,
button,
input,
textarea {
    outline: none !important;
}